body{font-family:"Segoe UI",Arial,Helvetica,sans-serif;font-size:14px;line-height:20px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.txt-r{text-align:right}
.txt-l{text-align:left}
.txt-c{text-align:center}
.fnt-b{font-weight:bold}
.fnt-i{font-style:italic}
.fnt-u{text-decoration:underline}
.fnt-o{text-decoration:overline}
.fnt-s{text-decoration:line-through}
.bg-gray{background-color:#aaa}
.bg-light-gray{background-color:#eee}
.bg-green{background-color:#6db809}
.bg-orange{background-color:#c55300}
.to-top{top:0}
.to-rgt{right:0}
.to-btm{bottom:0}
.to-lft{left:0}
.msg{font-weight:bold;border-width:2px;padding:1%;width:98%;}
.msg.red{background-color:#ffdfdf;color:#f00}
.msg.green{background-color:#e2fabf;color:#008f0b}
.msg.yellow{background-color:#fffcb5;color:#ffa500}
.msg.blue{background-color:#dfedff;color:#0085ff}
