@import "src/defaults"
@import "src/functions"

#flex-wrapp
  flexbox()
  width 500px
  padding 10px
  background #eee
   -webkit-justify-content space-around
  justify-content space-around

.flex-item
  margin 5px
  height 500px
  width 90px
  background DeepSkyBlue