/* inputs */
optgroup {
    font-style: normal;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='range'], 
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[type='text'],
input[type='password'],
select, textarea, button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; /* 2 */
    box-sizing: border-box;
    border: solid 1px #ccc;
    padding: 4px;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button {
    border: solid 1px #888;
    background: #888;
    color: #fff;
    padding: 6px 9px;
    font-size: 1em;
}
input[type='submit'] {
    background: #6DB809;
    border: solid 1px #6DB809;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='range']:focus, 
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='week']:focus,
input[type='text']:focus,
input[type='password']:focus,
select:focus,
textarea:focus {
    background: #FCFAE1;
}

/* forms */
form {}
form dl { margin: 1em 0; }
form dl dt {
    clear: left;
    float: left;
    padding: 0.5em 0.5em 0 0;
    width: 140px;
}
form dl dd { margin: 0 0 0.5em 150px; }

form input.error {
    color: #f00;
    border: solid 1px #f00;
    background: #FDD8D8;
}
/* \ forms */

/* forms sizes */
form ul {
    width: 100%;
    float: left;
    padding: 0;
}
form ul li {
    display: block;
    float: left;
    min-height: 50px;
    position: relative;
}
form input,
form select,
form textarea {
    width: 140px;
}
form input[type='submit'],
form input[type='reset'],
form input[type='radio'],
form input[type='checkbox'],
form input[type='button'] {
    width: auto;
}
form ul li input[type='color'],
form ul li input[type='date'],
form ul li input[type='datetime'],
form ul li input[type='datetime-local'],
form ul li input[type='email'],
form ul li input[type='month'],
form ul li input[type='number'],
form ul li input[type='range'], 
form ul li input[type='search'],
form ul li input[type='tel'],
form ul li input[type='time'],
form ul li input[type='url'],
form ul li input[type='week'],
form ul li input[type='text'],
select, textarea {
    width: 100% !important;
}
form ul li label {
    display: block;
}
form ul.two-col li {
    width: 48%;
    padding: 1%;
}
form ul.three-col li {
    width: 31.2%;
    padding: 1%;
}
form ul.four-col li {
    width: 23%;
    padding: 1%;
}
form ul li.fw {
    width: 98%
}
/* \ forms sizes */

/* \ COMMON TAGS RULES
 -----------------------------------------------------*/

/* HELPER
 -----------------------------------------------------*/
.fw { width: 100%; }
.hw { width: 50%; }
.tw { width: 33.32%; }
.qw { width: 25%; }
.fl { float: left; }
.fr { float: right; }

/* margins */
.mo1 { margin: 1em; }
.mt1 { margin-top: 1em; }
.mb1 { margin-bottom: 1em; }
.ml1 { margin-left: 1em; }
.mr1 { margin-right: 1em; }

/* paddings */
.po1 { padding: 1em; }
.pt1 { padding-top: 1em; }
.pb1 { padding-bottom: 1em; }
.pl1 { padding-left: 1em; }
.pr1 { padding-right: 1em; }

/* bordering */
.bt1 { border-top: solid 1px #ccc; }
.bb1 { border-bottom: solid 1px #ccc; }
.bl1 { border-left: solid 1px #ccc; }
.br1 { border-right: solid 1px #ccc; }

.clr { clear: both; float: none; }
.inline { display: inline-block; }

.block { padding: 1%; }
.block.fw { width: 98%; }
.block.hw { width: 48%; }
.block.tw { width: 31.32%; }
.block.qw { width: 23%; }

.txt-r { text-align: right; }
.txt-l { text-align: left; }
.txt-c { text-align: center; }

.fnt-b { font-weight: bold; }
.fnt-i { font-style: italic; }
.fnt-u { text-decoration: underline; }
.fnt-o { text-decoration: overline; }
.fnt-s { text-decoration: line-through; }

/* Coloring */
.bg-gray { background-color: #aaa; }
.bg-light-gray { background-color: #eee; }
.bg-green { background-color: #6DB809; }
.bg-orange { background-color: #C55300; }

/* \ HELPER
 -----------------------------------------------------*/

header#page-header {
    padding: 2%;
    margin-bottom: 10px;
}
header#page-header.fw {
    width: 96%;
    float: left;
}
header#page-header cite {
    font-style: italic;
}

/* UI
 -----------------------------------------------------*/
/* toolbar */
.toolbar {
    padding: 1%;
    float: left;
    width: 98%;
}
.toolbar .elem {
    position: relative;
    border-right: solid 1px #aaa;
    padding: 0 6px;
    margin: 3px 0;
    min-height: 39px;
}
.toolbar .elem:last-child {
    border: none;
}
.toolbar .elem label {
    position: relative;
    display: block;
}
.toolbar .elem input,
.toolbar .elem select {
    padding: 0;
    height: 21px;
}
.toolbar .elem input[type='radio'],
.toolbar .elem input[type='checkbox'] {
    height: 22px;
    width: auto;
    vertical-align: middle;
}
.toolbar .elem input[type='submit'],
.toolbar .elem input[type='reset'],
.toolbar .elem input[type='button'],
.toolbar .elem button {
    height: 48px;
    padding: 0 8px;
}
/* \ toolbar */

/* messages */
.msg {
    padding: .5em;
}
.msg.fw {
    width: 99%
}
.msg.error {
    background: #FFE7E7;
    border-bottom: solid 2px red;
    border-top: solid 2px red;
    color: #DB0000;
}
.msg.warning {
    background: #FFFBE7;
    border-bottom: solid 2px #FFB800;
    border-top: solid 2px #FFB800;
    color: #DD9F00;
}
.msg.success {
    background: #F3FFE7;
    border-bottom: solid 2px #1CE600;
    border-top: solid 2px #1CE600;
    color: #1CE600;
}
.msg.info {
    background: #E7F7FF;
    border-bottom: solid 2px #00C2FF;
    border-top: solid 2px #00C2FF;
    color: #00C2FF;
}

/* \ messages */

/* \ UI
 -----------------------------------------------------*/