body {
    line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6 { line-height: 1.5em; }
h1 { font-size: 2.8em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

a {
    outline: none;
    text-decoration: none;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

a:hover {
    outline: none;
    text-decoration: underline;
    color: #0080ff;
}

a[href^='http'] {
    text-decoration: none;
    border-bottom: dotted 1px blue;
}

a[href^='http']:hover {
    border-bottom: dotted 1px #0080ff;
}

p {
    margin: 0 0 1em 0;
}

ul {
    padding-left: 2em;
}

li {
    list-style: circle;
}
