/* RESET
 -----------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, button, textarea, select {
	margin: 0;
	padding: 0;
}

/* \ RESET
 -----------------------------------------------------*/

/* COMMON TAGS RULES
 -----------------------------------------------------*/
body {
	font-size: 13px;
	font-family: "Segoe UI", Arlia, sans-serif;
}
h1,h2,h3,h4,h5,h6 { line-height: 1.5em; }
h1 { font-size: 2.8em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.25em; }
h6 { font-size: 1em; }

/* inputs */
optgroup { background: #eee; }

input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'],
input[type='search'], 
select, 
textarea {
	border: solid 1px #ccc;
	font-family: "Segoe UI", Arlia, sans-serif;
	transition: .3s;
	-webkit-transition: .3s;
	padding: .3em;
}

input[type='button'],
input[type='submit'],
input[type='reset'],
button {
	border: solid 1px #888;
	background: #888;
	color: #fff;
	padding: .3em;
	height: 31px;
}
input[type='submit'] {
	background: #6DB809;
	border: solid 1px #6DB809;
}
input[type='text']:focus,
input[type='date']:focus,
input[type='email']:focus,
input[type='password']:focus,
select:focus,
textarea:focus {
	background: #FCFAE1;
}

input[type='text'],
input[type='date'],
input[type='email'],
input[type='password'] {
	height: 21px;
}

/* forms */
form {}
form dl { margin: 1em 0; }
form dl dt {
	clear: left;
    float: left;
    padding: 0.5em 0.5em 0 0;
    width: 140px;
}
form dl dd {
	margin: 0 0 0.5em 150px;
}

form input.error {
	color: #f00;
	border: solid 1px #f00;
	background: #FDD8D8;
}
/* \ forms */

/* forms sizes */
form ul {
    width: 100%;
    float: left;
}
form ul li {
    display: block;
    float: left;
    min-height: 45px;
}
form ul li label {
    display: block;
}
form ul.two-col li {
    width: 48%;
    padding: 1%;
}
form ul.three-col li {
    width: 31.2%;
    padding: 1%;
}
form ul.four-col li {
    width: 23%;
    padding: 1%;
}
form ul li.fw {
    width: 98%
}
/* \ forms sizes */

/* \ COMMON TAGS RULES
 -----------------------------------------------------*/

/* HELPER
 -----------------------------------------------------*/
.fw { width: 100%; }
.hw { width: 50%; }
.tw { width: 33.32%; }
.qw { width: 25%; }
.fl { float: left; }
.fr { float: right; }

.margined { margin: 1em 0; }

.block { padding: 2%; }
.block.fw { width: 96%; }
.block.hw { width: 46%; }
.block.tw { width: 29.32%; }
.block.qw { width: 21%; }

.brd-btm { border-bottom: solid 1px #ccc; }

.txt-r { text-align: right; }
.txt-l { text-align: left; }
.txt-c { text-align: center; }

.fnt-b { font-weight: bold; }
.fnt-i { font-style: italic; }
.fnt-u { text-decoration: underline; }
.fnt-o { text-decoration: overline; }
.fnt-s { text-decoration: line-through; }

/* Coloring */
.bg-gray { background-color: #aaa; }
.bg-light-gray { background-color: #eee; }
.bg-green { background-color: #6DB809; }
.bg-orange { background-color: #C55300; }

/* \ HELPER
 -----------------------------------------------------*/

header#page-header {
	padding: 2%;
	border-bottom: solid 1px #aaa;
	margin-bottom: 10px;
}
header#page-header.fw {
	width: 96%;
	float: left;
}
header#page-header cite {
	font-style: italic;
}

/* UI
 -----------------------------------------------------*/
/* toolbar */
.toolbar {
	padding: 1%;
	float: left;
	width: 98%;
}
.toolbar .elem {
	position: relative;
	padding: 0 10px;
	margin: 3px 0;
	border-right: solid 1px #aaa;
}
.toolbar .elem:last-child {
	border: none;
}
.toolbar .elem label {
	position: relative;
}
.toolbar .elem input[type='radio'],
.toolbar .elem input[type='checkbox'] {
	height: 31px;
    vertical-align: middle;
}
/* \ toolbar */

/* messages */
.msg {
    padding: 1%;
}
.msg.fw {
    width: 98%
}
.msg.error {
	background: #FFE7E7;
    border-bottom: solid 2px red;
    border-top: solid 2px red;
    color: #DB0000;
}
.msg.warning {
    background: #FFFBE7;
    border-bottom: solid 2px #FFB800;
    border-top: solid 2px #FFB800;
    color: #DD9F00;
}
.msg.success {
    background: #F3FFE7;
    border-bottom: solid 2px #1CE600;
    border-top: solid 2px #1CE600;
    color: #1CE600;
}
.msg.info {
    background: #E7F7FF;
    border-bottom: solid 2px #00C2FF;
    border-top: solid 2px #00C2FF;
    color: #00C2FF;
}

/* \ messages */

/* \ UI
 -----------------------------------------------------*/