multiprop(prop, arg)
  -webkit-{prop} arg
  -moz-{prop} arg
  -ms-{prop} arg
  -o-{prop} arg
  {prop} arg
  
animation_speed = .3s
  
fonts = "Segoe UI", Arial, Helvetica, sans-serif
fontsize = 14px

lineheight = fontsize * 1.5

links_default = #0B61A4
links_hover = #0080ff
links_visited = #5a80a5

input_border = solid 1px #ccc

color_lighter = 30
color_very_light = 45

color_red = #FF0D00
color_green = #6AB200
color_yellow = #F9ce00
color_blue = #0B61A4
color_gray = #838383

color_button_default = #888
color_button_hovered = #8a8a8a
color_button_default_font_color = #FFF
color_button_hovered_font_color = #eee

color_button_submit = #6AB200
color_button_submit_font_color = #FFF
color_input_normal = #fff
color_input_focused = #f2fbff
color_input_border_focused = #64b1ff
color_input_error = #ffcecb