multiprop(prop, arg)
  -webkit-{prop} arg
  -moz-{prop} arg
  -ms-{prop} arg
  -o-{prop} arg
  {prop} arg

h1,h2,h3,h4,h5,h6
  line-height: 1.5em
  margin: 0
  font-weight: normal

h1
  font-size: 2.8em

h2
  font-size: 2.1em

h3
  font-size: 1.7em

h4
  font-size: 1.5em

h5
  font-size: 1.25em

h6
  font-size: 1em

:target
  border-bottom: dashed 1px #ccc

:visited
  color: #5a80a5
  border: none

[title]
  position: relative
  &:hover:after
    position: absolute
    background: rgba(0, 0, 0, .8)
    color: #fff
    padding: 10px
    content: attr(title)
    margin: -40px 0 0 0
    font-size: 12px
    bottom: 20px
    left: 0
    line-height: 1
    width: 140px
  &:hover:before
    position: absolute
    width: 0
    height: 0
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid #000
    content: ' '
    opacity: .8
    left: 50%
    margin-left: -10px

a
  outline: none
  text-decoration: none
  multiprop(transition, .3s)
  &:hover
    outline: none
    text-decoration: underline
    color: #0080ff

a[href^='http']
  text-decoration: none
  border-bottom: dotted 1px blue
  &:hover
    border-bottom: dotted 1px #0080ff

p
  margin: 0 0 1em 0

ul
  padding-left: 2em

li
  list-style: circle