#app-header, #app-footer {
  background: #236393; /* Old browsers */
  background: -moz-linear-gradient(left,  #236393 0%, #00724a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#236393), color-stop(100%,#00724a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #236393 0%,#00724a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #236393 0%,#00724a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #236393 0%,#00724a 100%); /* IE10+ */
  background: linear-gradient(to right,  #236393 0%,#00724a 100%); /* W3C */
  color: #fff;
}
#app-header h1 {
  font-size: 18px;
  font-weight: bold;
}
#app-header nav {
  width: 250px;
}
#app-header nav a {
  padding: 0 5px;
  color: #fff;
}
#app-header nav a:hover {
  background: #0B61A4;
  color: #9CD0F8;
}

#app-body {
  background: #f0f0f0;
  top: 76px;
  bottom: 46px;
}