@import "../defaults"

input[type='button'],
input[type='submit'],
input[type='reset'],
.button,
button
  background color_button_default
  border button_border
  color color_button_default_font_color
  vertical-align middle
  font-size fontsize
  line-height lineheight
  outline none
  display inline-block
  padding form_elem_padding
  overflow visible
  width auto
  cursor pointer
  &:hover
    text-decoration none
    color color_button_hovered_font_color
  &.big
    padding (form_elem_padding + 6) (form_elem_padding + 10)
    font-size fontsize + 4px
  &.small
    padding (form_elem_padding - 3) (form_elem_padding)
    font-size fontsize - 4px

.button:visited
  color color_button_default_font_color
  border button_border

.button:visited:hover
  color color_button_hovered_font_color

input[type='submit']
  background color_button_submit
  color color_button_submit_font_color