@import "../defaults"

input[type='button'],
input[type='submit'],
input[type='reset'],
.button,
button
  formtypo()
  background color_button_default
  border button_border
  color color_button_default_font_color
  outline none
  overflow visible
  width auto
  cursor pointer

  &:hover
    text-decoration none
    color color_button_hovered_font_color

  &.big
    padding (form_elem_padding * ratio) (form_elem_padding * ratio * ratio * ratio)
    font-size (fontsize + ratio + ratio)

  &.small
    padding 0 (form_elem_padding)
    font-size (fontsize - ratio - ratio)

.button:visited
  color color_button_default_font_color
  border button_border

.button:visited:hover
  color color_button_hovered_font_color

input[type='submit']
  background color_button_submit
  color color_button_submit_font_color
