@import "../defaults"
@import "../functions"

*
  multiprop(box-sizing, border-box)

html
  font-size 87.5%

body
  font-family fonts
  font-size fontsize
  line-height lineheight
  margin 0
  padding 0

@font-face
  font-family 'FontAwesome'
  src url('../fonts/fontawesome-webfont.eot')
  src url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff') format('woff'),url('../fonts/fontawesome-webfont.ttf') format('truetype'),url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg')
  font-weight normal
  font-style normal

.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden

.group
  zoom 1
  &:before,
  &:after
    content ""
    display table
  &:after
    clear both

hr
  border none
  border-bottom solid 1px #aaa

/* >> Text Positioning */
.txt-r
  text-align right
.txt-l
  text-align left
.txt-c
  text-align center
.txt-j
  text-align justify
/* << Text Positioning */

/* >> Font Styling */
.fnt-b
  font-weight bold
.fnt-i
  font-style italic
.fnt-u
  text-decoration underline
.fnt-o
  text-decoration overline
.fnt-s
  text-decoration line-through
/* << Font Styling */

/* >> Coloring */
.bg-gray
  background-color color_gray
.bg-light-gray
  background-color lighten(color_gray, color_very_light)
.bg-green
  background-color color_green
/* << Coloring */

.big-header
  @extends .group
  clear: both;
  padding: ratio * ratio * 1%;
