@import "defaults"

optgroup
  font-style normal

fieldset
  padding 0
  border-bottom none
  border-left none
  border-right none
  border-top dotted 1px color_gray

legend
  margin-left 0px
  padding-right 5px

keygen
  width 220px
  border input_border
  background color_input_normal
  padding 4px

input.loading
  background-image url("../images/loader.gif")
  background-position 100% 50%
  background-repeat no-repeat

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='range'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='week'],
input[type='text'],
textarea,
select
  border input_border
  background-color color_input_normal
  padding 0
  width 220px
  height 26px
  display inline-block
  font-size fontsize
  line-height lineheight
  multiprop(box-sizing, border-box)

  &:focus
    background-color color_input_focused

textarea
  height 70px

input[type='button'],
input[type='submit'],
input[type='reset'],
.button,
button
  background color_button_default
  border none
  color color_button_default_font_color
  cursor pointer
  display inline-block
  line-height lineheight
  font-size fontsize
  outline none
  padding 3px 7px
  overflow visible
  width auto

  &.big
    padding 12px 15px
    font-size fontsize + 5px

  &.small
    padding 0px 4px
    font-size fontsize - 5px

  &:hover
    text-decoration none
    background color_button_hovered
    color color_button_hovered_font_color

.button:visited
  color color_button_default_font_color

input[type='submit']
  background color_button_submit
  color color_button_submit_font_color

input, button, textarea, select, .button
  multiprop(transition, animation_speed)

form
  input[type='submit'],
  input[type='reset'],
  input[type='radio'],
  input[type='checkbox'],
  input[type='button']
    width auto

  input.error
    color color_red
    border solid 1px color_red
    background color_input_error

  dl
    margin 1em 0

    dt
      clear left
      float left
      padding 0
      width 140px

    dd
      margin 0 0 0.5em 150px

  ul
    width 100%
    float left
    padding 0

    li
      display block
      float left
      min-height 56px
      position relative

      input[type='color'],
      input[type='date'],
      input[type='datetime'],
      input[type='datetime-local'],
      input[type='email'],
      input[type='month'],
      input[type='number'],
      input[type='range'],
      input[type='search'],
      input[type='tel'],
      input[type='time'],
      input[type='url'],
      input[type='week'],
      input[type='text'],
      select, textarea
        width 100%

      label
        display block

  input,select,textarea
    width 140px

  ul.two-col
    li
      width 48%
      padding 1%

  ul.three-col
    li
      width 31.2%
      padding 1%

  ul.four-col
    li
      width 23%
      padding 1%

  ul
    li.fw
      width 98%