@import "../defaults"

header#app
  @extend .group /* common.styl */

  #logo
    padding 0 1em
    display inline-block
    text_vertical_rythm(1.5em, 1.9048em, 0, 0)
    
  nav
    float left;
    
    a
      display inline-block
      padding 10px