@import "../defaults"

.scrl
  overflow auto

.clr
  clear both
  float none

.disp-ib
  display inline-block
.disp-b
  display block
.disp-tc
  display table-cell

/* >> widths */
for num in 10 20 30 40 50 60 70 80 90 100
  {'.w'+num}
    width 1% * num

for num in 10 20 30 40 50 60 70 80 90 100
  {'.w'+num}.po1
    width (1% * num) - 2
/* << widths*/

/* >> offsets */
for num in 10 20 30 40 50 60 70 80 90 100
  {'.ol'+num}
    left 1% * num

for num in 10 20 30 40 50 60 70 80 90 100
  {'.rl'+num}
    right 1% * num
/* << offsets*/

/* >> positionign */
.flt-l
  float left
.flt-r
  float right
.pos-f
  position fixed
.pos-a
  position absolute
.pos-r
  position relative
.pos-c
  margin 0 auto
  
.to-top
  top 0

.to-rgt
  right 0

.to-btm
  bottom 0

.to-lft
  left 0
/* << positioning */

/* >> margins */
.mo1
  margin 1%
.mt1
  margin-top 1%
.mb1
  margin-bottom 1%
.ml1
  margin-left 1%
.mr1
  margin-right 1%
/* << margins */

/* >> paddings */
.po1
  padding 1%
.pt1
  padding-top 1%
.pb1
  padding-bottom 1%
.pl1
  padding-left 1%
.pr1
  padding-right 1%
/* << paddings*/

/* >> bordering */
.brd-t1
  border-top solid 1px lighten(color_gray, color_lighter)
.brd-b1
  border-bottom solid 1px lighten(color_gray, color_lighter)
.brd-l1
  border-left solid 1px lighten(color_gray, color_lighter)
.brd-r1
  border-right solid 1px lighten(color_gray, color_lighter)
/* << bordering*/