nav.hor
  a
    display block
    text-decoration none
    padding 10px
    margin 1px
  ul
    display table
    float left
    width 100%
    table-layout fixed
    padding 0
    margin 0
    li
      position relative
      display table-cell
      width 100%
      multiprop(transition, animation_speed)
      &:hover
        background lighten(color_gray, color_very_light)
        ul
          display block
          height auto
          li
            ul
              display none
      ul
        background lighten(color_gray, color_very_light)
        display none
        position absolute
        min-width 140px
        width auto
        z-index 1
        li
          display block
          width 100%
          &:hover
            background lighten(color_gray, color_lighter)
            ul
              display block
              width auto
          ul
            background lighten(color_gray, color_very_light - 5)
            left 100%
            top 0
            display none
            z-index 2