.msg
  font-weight bold
  border-width 2px
  padding 1%
  width 98%

  &.red
    background-color lighten(color_red, color_very_light)
    color color_red

  &.green
    background-color lighten(color_green, color_very_light)
    color color_green

  &.yellow
    background-color lighten(color_yellow, color_very_light)
    color color_yellow

  &.blue
    background-color lighten(color_blue, color_very_light)
    color color_blue