@import "../defaults"

.popup
  border solid 1px #ddd

  header
    border-bottom solid 1px #eee
    font-weight bold
    position relative
    padding 10px

  article
    overflow auto
    position relative
    max-height 450px