@import "../defaults"
@import "../functions"

.toolbar
  background #f0f0f0
  @extend .group /* common.styl */

  .elem 
    position relative
    border-right solid 1px lighten(color_gray, color_lighter)
    padding 0 6px
    min-height 42px

    label 
      position relative
      display block
      font-size 13px
      line-height 14px

    input,select,.button,button
      font-size 12px
      width 90px
      padding 0
      line-height 17px
    .button
      text-align center
    .button:visited
      border button_border
    
    select[size]
      font-size 11px
      height 19px
      &:hover
        multiprop(box-shadow, 0 0 10px #777)
        border none
        clear both
        height 100px
        margin-top -74px
        position relative
        z-index 2

    select
      width 90px

    input[type='datetime'],
    input[type='datetime-local'],
    input[type='date']
      width 170px

    input[type='radio'],
    input[type='checkbox'] 
      height 22px
      width auto
      vertical-align middle

  &:last-child 
    border none