@import "defaults"
@import "../functions"

p
  text_vertical_rythm(1em, 1.4286em, 0, 0.4286em)
h1,h2,h3,h4,h5,h6
  font-weight: normal
h1
  text_vertical_rythm(2em, 1.4286em, 0.7143em, 0)
h2
  text_vertical_rythm(1.7857em, 1.6em, 0.8em, 0)
h3
  text_vertical_rythm(1.5em, 1.9048em, 0.9524em, 0)
h4
  text_vertical_rythm(1.2857em, 1.1111em, 1.1111em, 0)
h5
  text_vertical_rythm(1.1429em, 1.25em, 1.25em, 0)
h6
  text_vertical_rythm(1em, 1.4286em, 1.4286em, 0)
:target
  border-bottom: dashed 1px #ccc
:visited
  color: links_visited
  border: none

[title]
  position: relative
  &:hover:after
    position absolute
    background rgba(0, 0, 0, .8) 
    color #fff
    padding 10px
    content attr(title)
    font-size 12px
    bottom 0
    margin-bottom 26px
    left 0
    line-height 1
    width 140px
  &:hover:before
    position absolute
    width 0
    height 0
    border-left 6px solid transparent
    border-right 6px solid transparent
    border-top 6px solid #000
    content ' '
    opacity .8
    left 50%
    bottom 0
    margin-bottom 20px
a
  outline none
  color links_default
  text-decoration: none
  multiprop(transition, animation_speed)
  &:hover
    outline: none
    text-decoration: underline
    color: links_hover

a[href^='http']
  text-decoration: none
  border-bottom: dotted 1px blue
  &:hover
    border-bottom: dotted 1px links_hover

p
  margin: 0 0 1em 0
ul
  padding-left: 2em
li
  list-style: circle
.cols-txt-two
  multiprop(column-count, 2)
  multiprop(column-gap, 1em)
.cols-txt-three
  multiprop(column-count, 3)
  multiprop(column-gap, 1em)